@import url('https://fonts.googleapis.com/css?family=Bellota|Crimson+Text|Dancing+Script|Inconsolata|Lato&display=swap');


#textBlock {
    width: 70%;
    height: 200px;
    background-color: rgb(222, 229, 255);
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

/* #firstBlock {
    width: 100%;
    height: 90%;
    margin: 0 auto;
} */


#emptyBlock {
    width: 70%;
    height: 400px;
    background-color: rgb(222, 229, 255);
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}


#area {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 10px auto;
    display: none;
    border-radius: 10px;
}

#secondBlock {
    width: 100%;
    height: 90%;
    display: none;
}


.choose {
    width: 320px;
    height: 40px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
}









/* BUTTON */

.btnEditStyle {
    display: flex;
    justify-content: center;
}

#btnEdit {
    width: 90px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(255, 230, 0);
    outline : none ;
}

#btnStyle {
    width: 90px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(0, 4, 255);
    color: white;
    outline : none ;
}

#btnAdd {
    width: 90px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    display: none;
    outline : none ;
}

#btnSave {
    width: 90px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(5, 151, 0);
    color: white;
    display: none;
    outline : none ;
}

.btnAddSave {
    display: flex;
    margin: 10px;
}

#btnColor {
    width: 120px;
    height: 40px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
}

#btnBackground {
    width: 120px;
    height: 40px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
}


.colorBox {
    display: inline;
    background-color: green;
}

/* HIDE CLASS */
.none {
    display: none;
}

.flex {
    display: flex;
}


#listColor {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    margin: 100px auto;
    display: none;
    flex-wrap: wrap;
}

.firstRowLeftColor {
    width: 33.3%;
    height: 33.3%;
    background-color: red;
    
}

.firstRowCenterColor {
    width: 33.3%;
    height: 33.3%;
    background-color: blue;
}

.firstRowRightColor {
    width: 33.3%;
    height: 33.3%;
    background-color: green;
}

.secondRowLeftColor {
    width: 33.3%;
    height: 33.3%;
    background-color: orange;
}

.secondRowCenterColor {
    width: 33.3%;
    height: 33.3%;
    background-color: yellow;
}

.secondRowRightColor {
    width: 33.3%;
    height: 33.3%;
    background-color: brown;
}

.thirdRowLeftColor {
    width: 33.3%;
    height: 33.3%;
    background-color: darkblue;
}

.thirdRowCenterColor {
    width: 33.3%;
    height: 33.3%;
    background-color: violet;
}

.thirdRowRightColor {
    width: 33.3%;
    height: 33.3%;
    background-color: palevioletred;
}






.secondContainer {
    display: none;
    width: 70%;
    height: 700px;
    background-color: rgb(222, 229, 255);
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.ff {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.gg {
    width: 100%;
    height: 40px;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

input[name="tr"] {
    width: 80%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 14px;
}

input[name="td"] {
    width: 80%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 14px;
}